In [ ]:
# https://dev.drugbank.com/guides/tutorials/api_authentication

In [ ]:
import json, requests

API_KEY = "..." # paste your API key here
HEADERS = {
    'authorization': API_KEY
}

url = "https://api.drugbank.com/v1/us/drug_names"
params = { "q": "Tylenol" }
response = requests.get(url, params=params, headers=HEADERS)
print(response.json())

In [ ]:
# чебные базы данных MySQL для тренировок

In [ ]:
#“how to connect mysql database in jupyter notebook” Code Answer’s
# https://www.codegrepper.com/code-examples/python/how+to+connect+mysql+database+in+jupyter+notebook
# In the python cmd, install packages:
# pip3 install pymysql
# pip3 install ipython-sql
# pip3 install mysqlclient

# in the jupyter notebook:
import pymysql
import pandas as pd

conn=pymysql.connect(host='localhost',port=int(3306),user='root',passwd='YOUR_PASSWORD',db='YOUR_DATABASENAME')

df=pd.read_sql_query("SELECT * FROM 'YOUR_TABLENAME' ",conn)

print(df)

In [ ]:
# how to connect mysql database in jupyter notebook
# %%
%load_ext sql

# %%
%sql mysql+mysqldb://<user>:<password>@localhost/<dataBase>

# %%
%%sql

SELECT *
FROM <table>;